.pizza-container {
  margin: 0.5em;
  padding: 1em;
  border: 1px solid #268f0c;
  border-radius: 2.5em;
  margin-bottom: 1.5em;
  background-color: #7e4d4d;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(117, 0, 98);
  width: 10em;
  display: inline-block;
}



.menu-itemmedium {
  background-color: rgba(128, 20, 20, 0.849);
  padding: 1em;
  border: 1px solid #268f0c;
  border-radius: 2.5em;
  margin-bottom: 1.5em;
  font-size: 2rem;

}



.menu {
  background-color: rgba(133, 83, 10, 0.904);

}





body {
  background-image: url("images/pizza picture.png");
  padding: 20px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
  font-size: 1rem;
  color: rgb(12, 12, 12);
  font-weight: bold;
  background-size: auto;
  min-height: 100vh;
  

}

/* .container {
    max-width: 600px;
    margin: auto;
    padding: 2em;
   
} */

/* h2 {
  text-align: center;
  color: #c92121;
} */

.cart-item {
  background-color: #7e4d4d;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 40em;
  
} 

/* .cart-item h5 {
  margin: 0;
  color: #333;
} */

/* .cart-item span {
  display: block;
  color: #666;
} */

.cart {
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #7e4d4d;
  width: 40em;
}